body{
    margin: 0;
    font-family: sans-serif;
    background-color: #111;
}

.grid{
    position: relative;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 50px;
    background-color: transparent;
    box-sizing: border-box;
    max-width: 95vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 270px);
    grid-auto-rows: 270px;
    grid-auto-columns: 1fr;
    grid-auto-flow:row;
    gap: 60px 15px;
}

.grid-item{
    background-color: #48e;
    padding: 10px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

@media screen and (min-width: 701px){
    .grid{
        grid-template-rows: repeat(3, 280px);
        grid-auto-rows: 280px;
    }
}

@media screen and (min-width:801px){
    .grid{
        left: 8vw;
        max-width: 90vw;
        margin: 120px 0 50px 0;
    }
}

@media screen and (min-width:1201px){
    .grid{
        left: 16vw;
        max-width: 80vw;
        grid-template-rows: repeat(3, 320px);
        grid-auto-rows: 320px;
        row-gap: 40px;
    }
}